@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

html {
  /* background-color: lavenderblush; */
}

a{
  /* position: relative; */
  text-decoration: none;
  color:inherit;
  opacity: .75;
}

a:hover{
  opacity: 10;
  /* bottom: 1px; */
}
header {
  padding-top: 2%;
  font-family: "Authentic Sans";
}

nav {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:2;
  display: flex;
  height: 5 vh;
  grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
  /* grid-auto-rows: auto; */
  grid-gap: 3.5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1em;
  margin: auto;
}

.carousel{
  margin-top: 3vh;
  margin-left: 10%;
  margin-right: 10%;
}

.cssgrid {
  display:grid;
  grid-templat-columns: 100px auto;
  grid-template-rows: 50px auto;
}

.images-body{
  display: flex;
  grid-template-columns: 1fr 6fr;
  grid-gap: 1 vw;
}

.text-body{
  padding-left: 9vw;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
}


.logo {
  font-size: 1.5em;
}

.nextArrow {
  position: absolute;
  opacity: 30%;
  top: 40%;
  right: 80px;
  z-index: 100;
  cursor: pointer;
  font-size: 2rem;
}

.nextArrow:hover {
  opacity: 40%;
}

.prevArrow {
  position: absolute;
  opacity: 30%;
  top: 40%;
  left: 80px;
  z-index: 100;
  cursor: pointer;
  font-size: 2rem;
}

.prevArrow:hover {
  opacity: 40%;
}

.sc div{
  text-align: center
}

.sc img{
  width: auto;
  margin: auto;
}

.sideBar{
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:2;
  grid-row-end:3;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.1em;
  justify-content: flex-start;
  font-family: "Authentic Sans";
  font-style: italic;
  margin-top: 10vh;
  margin-left: 4vw;
  /* width: 10vw; */
  cursor: pointer;
}

.sliderImg {
  box-sizing: border-box;
  height: 80%;
  width: auto;
  padding: 0px 2vw;
  object-fit: cover;
}


.slick-track {
    margin:auto;
}

.wrapper {
  display: flex !important;
  flex-flow: column wrap;
  height: 72vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (max-width:1300px) {
  .wrapper {
    height: 60vh;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
    height: 48vh;
  }

}

@media screen and (max-width: 920px) {

}

.writing{
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;

  padding-top: 7.2vh;
  width:42em;
  margin: auto;
  padding-left: .4em;
  font-family: "garamond", Georgia, serif;
  line-height: 1.5;
}

.images{
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;
  width:80vw;
  margin: auto;
}
@font-face{
  font-family:"garamond";
  src:url("fonts/EBGaramond-VariableFont_wght.ttf")
}

@font-face {
  font-family:"Authentic Sans";
  src:url("fonts/otf/AUTHENTICSans-60.otf")
}
