@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);


a{
  /* position: relative; */
  text-decoration: none;
  color:inherit;
  opacity: .75;
  z-order:100;
}

a:hover{
  opacity: 10;
  /* bottom: 1px; */
}
header {
  padding-top: 2%;
  font-family: "Authentic Sans";
  text-align:center;
}

nav {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:2;
  display: flex;
  height: 5 vh;
  grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
  /* grid-auto-rows: auto; */
  grid-gap: 3.5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
}

.archive-image-label{
  /* margin:auto; */
  font-family: "Authentic Sans";
  opacity: .5;
  text-align:center;
  line-height: 2;
}

.text-image {
  height:80vh;
}
.carousel{
  z-index:1;
}

.cssgrid {
  position:relative;
  display:grid;
  grid-templat-columns: 100px auto;
  grid-template-rows: 50px auto;
}

.images-body{
  display: flex;
  grid-template-columns: 1fr 6fr;
  grid-gap: 1 vw;
}

.text-body{
  padding-left: 9vw;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
}


.logo {
  font-size: 1.5em;
}
.expand-sideBar{
  display:none;
  position:fixed;
  width:20px;
  height:100vh;
  opacity: 40%;
  left:0px;
  top:0px;
  background-color: gray;
  z-index:2;
}

.collapse-sideBar{
  position:fixed;
  width:20px;
  height:100vh;
  opacity: 40%;
  top:0px;
  left:150px;
  background-color: gray;
  z-index: 2;
}

.expand-sideBar:hover{
  cursor:pointer;
  opacity:60%;
}

.collapse-sideBar:hover{
  cursor:pointer;
  opacity:60%;
}

.expand-arrow{
  top:50%;
  margin-top: 50vh;
  color:white;
  font-size: 1.3rem;
}

.text-sideBar{
  position:relative;
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:2;
  grid-row-end:3;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.1em;
  justify-content: flex-start;
  font-family: "Authentic Sans";
  font-style: italic;
  margin-top: 10vh;
  margin-left: 4vw;
  width:12vw;
  cursor: pointer;
  z-index: 100;
}

.expand-text{
  font-family: "Authentic Sans";
  font-style: italic;
  cursor: pointer;
}
.expand-list-item{
  margin-left: 5px;
  margin-top: 1.5vh;
}

.expand-sideBar-bg{
  top:0px;
  left:0px;
  position:fixed;
  width:150px;
  background-color: white;
  height:100vh;
  z-index: 2;
}

.nextArrow {
  position: absolute;
  opacity: 30%;
  top: 40%;
  right: 80px;
  z-index: 100;
  cursor: pointer;
  font-size: 2rem;
}

.nextArrow:hover {
  opacity: 40%;
}

.prevArrow {
  position: absolute;
  opacity: 30%;
  top: 40%;
  left: 80px;
  z-index: 100;
  cursor: pointer;
  font-size: 2rem;
}

.prevArrow:hover {
  opacity: 40%;
}

.sc div{
  text-align: center
}

.sc img{
  width: auto;
  margin: auto;
}

.sideBar{
  position:relative;
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:2;
  grid-row-end:3;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.1em;
  justify-content: flex-start;
  font-family: "Authentic Sans";
  font-style: italic;
  margin-top: 10vh;
  margin-left: 4vw;
  width:10vw;
  cursor: pointer;
  z-index: 100;
}


.sliderImg {
  box-sizing: border-box;
  height: 80%;
  width: auto;
  padding: 0px 2vw;
  object-fit: cover;
}


.slick-track {
    margin:auto;
}

.wrapper {
  display: flex !important;
  flex-flow: column wrap;
  height: 72vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-order:-1;
}

@media(max-aspect-ratio: 1400/970) {
  .wrapper {
    height: 60vh;
  }
  .nextArrow{
    right: 60px;
  }
  .prevArrow{
    left:60px
  }
}


@media screen and (max-aspect-ratio: 1160/970) {
  .wrapper {
    height: 48vh;
  }
  .nextArrow{
    right: 40px;
  }
  .prevArrow{
    left:40px
  }

}


@media screen and (max-aspect-ratio: 970/970) {
  img.sliderImg {
    height: 310px;
  }
  .slick-list{
    margin: 0 -100px;
  }
  .nextArrow{
    right: 0px;
  }
  .prevArrow{
    left:0px;
  }
}

@media screen and (max-aspect-ratio: 580/870){
  .nextArrow{
    display: none;
  }
  .prevArrow{
    display:none;
  }
}

@media screen and (max-width: 1000px) {
  .text-sideBar {
    display:none;
  }
  .sideBar{
    display:none;
  }
  .expand-sideBar{
    display:block;
  }
}

.writing{
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;

  padding-top: 7.2vh;
  width:42em;
  margin: auto;
  padding-left: .4em;
  font-family: "garamond", Georgia, serif;
  line-height: 1.5;
  opacity:.7;
}

.images{
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;
  width:80vw;
  margin: auto;
}

.archival-images{
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;
  width:90vw;
  margin: auto;
}

.iphone-images{
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;
  width:80vw;
  margin: auto;
}
.tremor-text{
  margin-top: 5vh;
}

@font-face{
  font-family:"garamond";
  src:url("fonts/EBGaramond-VariableFont_wght.ttf")
}

@font-face {
  font-family:"Authentic Sans";
  src:url("fonts/otf/AUTHENTICSans-60.otf")
}
